*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
body{

    background-color: rgb(34 95 91);
}

h3{
    color:rgb(174, 174, 197);
    text-align: center;
    margin-top: 130px;
    font-size: 30px;
    margin-bottom: 30px;

}
table
{

    padding: 10px;
    margin-left: 50px;
}

table img:hover{
    transform: scale(1.04);
}

.books1{
    margin-left: 20px;
}
.offer img
{
    margin-bottom: -100px;
    width: 1500px;
    margin-left: 10px;
    height: 300px;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    margin-left: 60px;
    margin-top: 30px ;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: none;
    float: right;
  
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .header img
  {
    float: left;
    width: 100px;
    margin-left: 15px;
    margin-top: 20px;
    
  
  
  }
  .header
  {
    margin-top: -20px;
    margin-left: -30px;
  }
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }